<!-- =========================
    CONTACT SECTION
============================== -->
<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="wow fadeInUp col-md-offset-1 col-md-5 col-sm-6" data-wow-delay="0.6s">
				<div class="contact_des">
					<h3>Curso de Python</h3>
					<p>Si tenés alguna duda sobre el curso, no dudes en contactarte.</p>

				</div>
			</div>
			<div class="wow fadeInUp col-md-5 col-sm-6" data-wow-delay="0.9s">
				<div class="contact_detail">
					<div class="section-title">
						<h2>Contactanos</h2>
					</div>
					<form action="https://formspree.io/riocuarto@djangogirls.org" method="post">
						<input name="name" type="text" class="form-control" id="name" placeholder="Nombre">
					  	<input name="email" type="email" class="form-control" id="email" placeholder="Email">
					  	<textarea name="message" rows="5" class="form-control" id="message" placeholder="Mensaje"></textarea>
						<div class="col-md-6 col-sm-10">
							<input name="submit" type="submit" class="form-control" id="submit" value="ENVIAR">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
