<!-- =========================
    DETAIL SECTION
============================== -->
<section id="detail" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="wow fadeInLeft col-md-4 col-sm-4" data-wow-delay="0.3s">
				<i class="fa fa-group"></i>
				<h3>40 Cupos</h3>
				<p>Contamos con lugar para 40 asistentes, inscribite pronto, no te quedes afuera.</p>
			</div>
			<div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
				<i class="fa fa-clock-o"></i>
				<h3>12 horas</h3>
				<p>Te vamos a introducir a Python en 12 horas intensivas de módulo base, más las clases optativas que elijas.</p>
			</div>
			<div class="wow fadeInRight col-md-4 col-sm-4" data-wow-delay="0.9s">
				<i class="fa fa-microphone"></i>
				<h3>3 instructores</h3>
				<p>El equipo formado por tres instructores está listo para introducirte a Python con conceptos, ejercicios, material y acompañamiento.</p>
			</div>
		</div>
	</div>
</section>
