<!-- =========================
    FAQ SECTION
============================== -->
<section id="faq" class="parallax-section">
    <div class="container">
        <div class="row">
            <!-- Section title
                 =============================================== -->
            <div class="wow bounceIn col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center">
                <div class="section-title">
                    <h2>Preguntas frecuentes</h2>
                </div>
            </div>
            <div class="wow fadeInUp col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" data-wow-delay="0.9s">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        			    ¿Qué es Python?
      				</a>
    			    </h4>
  			</div>
   			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      			    <div class="panel-body">
        			<p>Python es un lenguaje de programación <strong>poderoso y fácil de aprender</strong>. Cuenta con estructuras de datos eficientes y de alto nivel y un enfoque simple pero efectivo a la <strong>programación orientada a objetos.</strong></p><p>La elegante sintaxis de Python y su <strong>tipado dinámico</strong>, junto con su <strong>naturaleza interpretada</strong>, hacen de éste un lenguaje ideal para <strong>scripting y desarrollo rápido de aplicaciones</strong> en diversas áreas y sobre la mayoría de las plataformas.</p>
                                <p><a href="http://docs.python.org.ar/tutorial/3/real-index.html" target="_blank" rel="noopener">Más información</a>. </p>
      			    </div>
   			</div>
 		    </div>
    		    <div class="panel panel-default">
   			<div class="panel-heading" role="tab" id="headingTwo">
      			    <h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          			    ¿Cuál es la modalidad del curso?
        			</a>
      			    </h4>
    			</div>
   			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      			    <div class="panel-body">
                                <p>El curso es presencial, en cada clase vas a aprender o reforzar conceptos de programación, de la filosofía de Python, vas a hacer ejercicios prácticos, con material que te proveemos y vas a contar con tres instructores que te van a compañar en el proceso.</p><p>¿Cuánto dura el curso?</p><p>Durante cuatro clases intensivas de 3 horas de duración, vas a aprender conceptos del módulo básico, además vamos a profundizar en los temas que más te interesen durante algunas clases más.</p>
      			    </div>
   			</div>
 		    </div>
 		    <div class="panel panel-default">
   			<div class="panel-heading" role="tab" id="headingThree">
      			    <h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          			    ¿Quién dicta el curso?
        			</a>
      			    </h4>
    			</div>
   			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      			    <div class="panel-body">
                                <p>Somos un grupo de tres autodidactas y entusiastas de Python, motivados por compartir conocimiento y experiencias.</p><p>Hemos participado activamente de la organización, gestión e instrucción de talleres/eventos/cursos:</p><ul>
                                    <li><a href="https://djangogirls.org/riocuarto/" target="_blank" rel="noopener">Primer Django Girls en Río Cuarto</a>. <em>En el campus de la UNRC.</em></li>
                                    <li>FLiSoL (Festival Latinoamericano de Instalación de software libre).</li>
                                    <li>Gestión de proyectos con Django, Python y Git - <em>Área de Modernización en la Municipalidad de Río Cuarto</em>.</li>
                                    <li>Curso de introducción a Python científico para ingeniería en la UNRC.</li>
                                    <li>Actividades de docencia y extensión en la Facultad de Ingeniería.</li>.</p>
      			    </div>
   			</div>
 		    </div>

                    <div class="panel panel-default">
   			<div class="panel-heading" role="tab" id="heading4">
      			    <h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
          			    ¿A quién está dirigido el curso?
        			</a>
      			    </h4>
    			</div>
   			<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      			    <div class="panel-body">
                                <p><li>Quienes quieran aprender a programar por diversión/curisosidad/hobbie.</li>
                                    <li>Para potenciar sus actividades profesionales (por ej. automatizando tareas).</li>
                                    <li>También quienes saben programar, pero quieren aprender Python.</li>.</p>
      			    </div>
   			</div>
 		    </div>

                    <div class="panel panel-default">
   			<div class="panel-heading" role="tab" id="heading5">
      			    <h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
          			    ¿Cuáles son los requisitos para tomar el curso?
        			</a>
      			    </h4>
    			</div>
   			<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
      			    <div class="panel-body">
                                <p><li>Ganas de aprender.</li>
                                    <li>Computadora portátil con software necesario.</li></p>
      			    </div>
   			</div>
 		    </div>

                    <div class="panel panel-default">
   			<div class="panel-heading" role="tab" id="heading6">
      			    <h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
          			    ¿Se emite certificado?
        			</a>
      			    </h4>
    			</div>
   			<div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
      			    <div class="panel-body">
                                <p>Si, el colegio de ingenieros especialistas de Río Cuarto provee certificación a los asistentes del curso.</p>
      			    </div>
   			</div>
 		    </div>

                    <div class="panel panel-default">
   			<div class="panel-heading" role="tab" id="heading7">
      			    <h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
          			    ¿Qué costo tiene la inscripción?
        			</a>
      			    </h4>
    			</div>

   			<div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
      			    <div class="panel-body">
                                <p>El curso posee un arancel de <strong>$1999</strong>, que puede abonarse en efectivo, con tarjeta de crédito o débito, y en cuotas a través de mercadopago.</p>
      			    </div>
   			</div>
 		    </div>

                    <div class="panel panel-default">
   			<div class="panel-heading" role="tab" id="heading8">
      			    <h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
          			    ¿Hay descuentos?
        			</a>
      			    </h4>
    			</div>

   			<div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
      			    <div class="panel-body">
                                <p>Si, tenemos un sistema de <strong>becas</strong> con descuentos para las chicas que asistieron a <strong>Django Girls Río Cuarto 2017</strong> y para estudiantes de las carreras de <strong>Ingeniería de la UNRC</strong>. Para aspirar a alguna de ellas tenés que llenar el formulario correspondiente, se anuncia la lista de becarios dos semanas antes del inicio del curso. Las becas no son acumulables, son personales e intransferibles.</p>
      			    </div>
   			</div>
 		    </div>

 		</div>
	    </div>
	</div>
    </div>
</section>
