<!-- =========================
    INTRO SECTION
============================== -->
<section id="intro" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3 class="wow bounceIn" data-wow-delay="0.9s">20 - 30 de Mayo en Río Cuarto, Córdoba</h3>
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Curso de Python</h1>

<!-- <a href="https://capacitaciones-r4.github.io/python/#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp" data-wow-delay="2.3s">MÁS INFORMACIÓN</a> -->
<!--<a href="https://capacitaciones-r4.github.io/python/#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">INSCRIPCIONES</a> -->
			</div>
		</div>
	</div>
</section>
