<!-- =========================
    OVERVIEW SECTION
============================== -->
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
				<h3>Introducción al lenguaje de programación Python.</h3>
				<p>Se trata de la primera edición del curso de Python para todo público en la ciudad de Río Cuarto.</p>
				<p>Durante cuatro clases intensivas te vas a introducir en conceptos básicos de programación y de la filosofía de Python, con material de estudio, clases teórico-prácticas y tres instructores acompañandote constantemente.</p>
                                <p>Luego del módulo básico vas a poder profundizar en los temas que más te interesen mediante clases optativas</p>
			</div>
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
				<img src="images/overview-img.jpg" class="img-responsive" alt="Overview">
			</div>
		</div>
	</div>
</section>
