<!-- =========================
    PROGRAM SECTION
============================== -->
<section id="program" class="parallax-section">
    <div class="container">
	<div class="row">
	    <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.6s">
		<div class="section-title">
		    <h2>Programa</h2>
		    <p>El curso está planificado en un módulo básico de cuatro clases intensivas, además podés asistir a clases optativas para profundizar en los temas que más te interesen.</p>
                    <p>Podés elegir el turno <strong>mañana</strong> o el turno <strong>tarde</strong>, según tus necesidades.</p>
		</div>
	    </div>
	    <div class="wow fadeInUp col-md-10 col-sm-10" data-wow-delay="0.9s">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
		    <li class="active"><a href="#fday" aria-controls="fday" role="tab" data-toggle="tab">LUNES 20</a></li>
		    <li><a href="#sday" aria-controls="sday" role="tab" data-toggle="tab">MIÉRCOLES 22</a></li>
		    <li><a href="#tday" aria-controls="tday" role="tab" data-toggle="tab">LUNES 27</a></li>
                    <li><a href="#4day" aria-controls="4day" role="tab" data-toggle="tab">MIÉRCOLES 29</a></li>
                    <li><a href="#5day" aria-controls="5day" role="tab" data-toggle="tab">LUNES 3</a></li>
                    <li><a href="#6day" aria-controls="6day" role="tab" data-toggle="tab">MIÉRCOLES 5</a></li>
		</ul>
		<!-- tab panes -->
		<div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="fday">
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 09.00 AM turno mañana - 01.30 PM turno tarde</span>

			    </h6>
			    <h3>Introducción</h3>
			    <p>¿Por qué Python? ¿Por qué Python3? El zen de Python. Hello world. Python como calculadora.</p>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.15 AM turno mañana - 02.45 PM turno tarde </span>
			    </h6>
			    <h3>Break</h3>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.45 AM turno mañana - 03.15 PM turno tarde</span>
			    </h6>
			    <h3>Tipos de datos en Python</h3>
			    <p> Int, float, str, list, tuple, dict, set .</p>
			</div>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="sday">
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 09.00 AM turno mañana - 01.30 PM turno tarde</span>
			    </h6>
			    <h3>Estructuras de control de flujo</h3>
			    <p> If elif y else, for, while. </p>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.15 AM turno mañana - 02.45 PM turno tarde </span>
			    </h6>
			    <h3>Break</h3>
                        </div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.45 AM turno mañana - 03.15 PM turno tarde</span>
			    </h6>
			    <h3>Estructuras de control de flujo (continuación) </h3>
			    <p> If elif y else, for, while. </p>
			</div>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="tday">
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 09.00 AM turno mañana - 01.30 PM turno tarde</span>
			    </h6>
			    <h3>Funciones</h3>
			    <p>Cómo usar y crear funciones.</p>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.15 AM turno mañana - 02.45 PM turno tarde </span>
			    </h6>
			    <h3>Break</h3>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.45 AM turno mañana - 03.15 PM turno tarde</span>
			    </h6>
			    <h3>Clases y objetos</h3>
			    <p>Clases y una introducción al paradigma orientado a objetos.</p>
			</div>
		    </div>

                    <div role="tabpanel" class="tab-pane" id="4day">
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 09.00 AM turno mañana - 01.30 PM turno tarde</span>
			    </h6>
			    <h3>Manejo de archivos y bibliotecas</h3>
			    <p>Cómo leer y escribir archivos, cómo instalar y usar una biblioteca.</p>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.15 AM turno mañana - 02.45 PM turno tarde </span>
			    </h6>
			    <h3>Break</h3>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.45 AM turno mañana - 03.15 PM turno tarde</span>
			    </h6>
			    <h3>¿Cómo sigo?</h3>
			    <p>Dónde buscar ayuda, cómo seguir.</p>
			</div>
                        <div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 08.30 PM </span>
			    </h6>
			    <h3>Última clase y cerveza</h3>
			    <p>Para festejar que ya sabemos Python, vamos a tomar todos juntos una cerveza (lugar a definir).</p>
			</div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="5day">
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 09.00 AM turno mañana - 01.30 PM turno tarde</span>
			    </h6>
			    <h3>Clase optativa</h3>
			    <p>Tema a definir (gráficos con matplotlib, manipulación de datos con pandas, stack científico con numpy, machine learning, procesamiento de imágenes, biblioteca estandar, web scraping, automatización de tareas web, procesamiento natural del lenguaje, administración de bases de datos).</p>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.15 AM turno mañana - 02.45 PM turno tarde </span>
			    </h6>
			    <h3>Break</h3>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.45 AM turno mañana - 03.15 PM turno tarde</span>
			    </h6>
			    <h3>Clase optativa (continuación)</h3>
			    <p>Tema a definir (gráficos con matplotlib, manipulación de datos con pandas, stack científico con numpy, machine learning, procesamiento de imágenes, biblioteca estandar, web scraping, automatización de tareas web, procesamiento natural del lenguaje, administración de bases de datos).</p>
			</div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="6day">
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 09.00 AM turno mañana - 01.30 PM turno tarde</span>
			    </h6>
			    <h3>Clase optativa</h3>
			    <p>Tema a definir (gráficos con matplotlib, manipulación de datos con pandas, stack científico con numpy, machine learning, procesamiento de imágenes, biblioteca estandar, web scraping, automatización de tareas web, procesamiento natural del lenguaje, administración de bases de datos).</p>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.15 AM turno mañana - 02.45 PM turno tarde </span>
			    </h6>
			    <h3>Break</h3>
			</div>
			<!-- program divider -->
			<div class="program-divider col-md-12 col-sm-12"></div>
			<!-- program speaker here -->
			<div class="col-md-2 col-sm-2">

			</div>
			<div class="col-md-10 col-sm-10">
			    <h6>
				<span><i class="fa fa-clock-o"></i> 10.45 AM turno mañana - 03.15 PM turno tarde</span>
			    </h6>
			    <h3>Clase optativa (continuación)</h3>
			    <p>Tema a definir (gráficos con matplotlib, manipulación de datos con pandas, stack científico con numpy, machine learning, procesamiento de imágenes, biblioteca estandar, web scraping, automatización de tareas web, procesamiento natural del lenguaje, administración de bases de datos).</p>
			</div>
                    </div>


		</div>
	    </div>
	</div>
</section>
