<!-- =========================
     REGISTER SECTION
     ============================== -->

<section id="register" class="parallax-section">
    <div class="container">
	<div class="row">
            <div class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="0.6s">
                <h2>Inscripciones</h2>
		<h5>Si querés aspirar a una beca, tenés tiempo hasta el 10  de Mayo, los becarios se anuncian el Lunes 13 de Mayo.</h3>
		    <h4>El arancel es de <strong>$1999</strong>, se puede abonar en efectivo, con tarjeta de débito o crédito, en cuotas, mediante mercadopago.</h4>
                    <h5>Las inscripciones cierran el Viernes 17 de Mayo, para entonces tenés que haber llenado el formulario de inscripción y enviado el comprobante de pago, no te duermas, tenemos cupos limitados.</h5>
            </div>

            <div class="wow fadeInUp col-md-5 col-sm-5" data-wow-delay="1s">
                <p><a href="https://forms.gle/5wHzCfhmVx3VjqLL6" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">INSCRIPCIÓN</a></p>
                <p><a href="https://forms.gle/fNJqfLujajCvLFoP9" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">BECA ESTUDIANTE INGENIERÍA (-25%)</a></p>
                <p>Accedé adjuntando tu certificado de alumno efectivo.</p>
		<p><a href="https://forms.gle/hXGEsqX8dBmn9gv5A" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">BECA DJANGO GIRLS (-50%)</a></p>
                <p>Accedé adjuntando tu certificado de asistente.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
