<!-- =========================
    SPEAKERS SECTION
============================== -->
<section id="speakers" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12 wow bounceIn">
				<div class="section-title">
					<h2>Instructores</h2>
					<p>Somos autodidactas y entusiastas de Python, dispuestos a compartir conocimiento y experiencias..</p>
				</div>
			</div>

			<!-- Testimonial Owl Carousel section
			================================================== -->
			<div id="owl-speakers" class="owl-carousel">
                                <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
					<div class="speakers-wrapper">
						<img src="images/lucas.png" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Lucas Bellomo</h3>
								<h6>Estudiante de la UNRC</h6>
							</div>
					</div>
				</div>

				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
					<div class="speakers-wrapper">
						<img src="images/hector.png" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Héctor Buri</h3>
								<h6>Ingeniero en Telecomunicaciones</h6>
							</div>
					</div>
				</div>

				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
					<div class="speakers-wrapper">
						<img src="images/bibiana.png" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Bibiana Rivadeneira</h3>
								<h6>Estudiante de Ingeniería</h6>
							</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
