<!-- =========================
    VENUE SECTION
============================== -->
<section id="venue" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" data-wow-delay="0.9s">
				<h2>Lugar</h2>
                                <h4>Colegio de Ingenieros especialistas</h4>
  				<h5> San Lorenzo 655, 2º Piso, Of. 121 - edificio Oficinas del Río</h5>
                                <h6> Río Cuarto, Córdoba</h6>
                                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-64.34439182281496%2C-33.12601959300724%2C-64.33840513229372%2C-33.123418372342464&amp;layer=mapnik&amp;marker=-33.12471899230709%2C-64.34139847755432" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=-33.12472&amp;mlon=-64.34140#map=18/-33.12472/-64.34140">View Larger Map</a></small>
			</div>

		</div>
	</div>
</section>
